head
  link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap' rel='stylesheet')
  link(rel="stylesheet", href="css/404.css")
  script(src='https://kit.fontawesome.com/4b9ba14b0f.js' crossorigin='anonymous')
.mainbox
  .err 4
  i.far.fa-question-circle.fa-spin
  .err2 4
  .msg
    | Maybe this page moved? Got deleted? Is hiding out in self-imposed quarantine? Never existed in the first place? On a parallel universe? Got snapped out of existence by Thanos?
    p
      | Let&apos;s go 
      a(href='/') home
      |  and try from there.
    br
    a(href='/')
        img(src='images/logo.png', alt='', width='200', height='40')
