meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title Steam Quest
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Favicon here
link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
link(rel='stylesheet', href='css/loading.css')
.wrap-loader
  .loader
    - for (var i = 1; i <= 4; i++)
      .box
    .wrap-text  
      .text
        each val in ['L', 'O', 'A', 'D', 'I', 'N', 'G', '...']
          span= val
  .loader-text 
    img(src='images/logo.png', alt='', width='150', height='30')
  .loader-text is fetching data. Please wait    