script(src='js/vendor/modernizr-3.5.0.min.js')
script(src='js/vendor/jquery-1.12.4.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/isotope.pkgd.min.js')
script(src='js/ajax-form.js')
// This gives us the popup video
script(src='js/jquery.counterup.min.js')
script(src='js/wow.min.js')
script(src='js/jquery.slicknav.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/main.js')
script(src='js/parallax.js')