html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include libraries
  

    body(style='background-color:black')
    header
      .header-area(style='background-color: black;')
        #sticky-header.main-header-area
          .container-fluid.p-0
            .row.align-items-center.no-gutters
              .col-xl-2.col-lg-2
                .logo-img
                  a(href='/')
                    img(src='images/logo.png', alt='', width='150', height='30')
              .col-xl-8.col-lg-8
                .main-menu.d-none.d-lg-block.text-center
                  nav
                    ul#navigation
                      li
                        a.active(href='/') home
                      li
                        a(href='/#servicestag') services
                      li
                        a(href='/#tutorial') Video Tutorial
                      li
                        a(href='/#team') The Team
                      li
                        a(href='/#contactus') Contact
                      if username
                        li
                          a(href='/logout') Logout
                      else
                        li
                          a(href='/authenticate') Login 
              .col-lg-2.d-none.d-lg-block
                .log_chat_area.d-flex.align-items-end
            .col-12
              .mobile_menu.d-block.d-lg-none
    br
    br
    br
    br

.jumbotron.jumbotron-fluid(style='background-color:#121212')
  .container
    h1.display-4.wow.fadeInLeft(data-wow-duration='1s', data-wow-delay='.1s',style='text-align:centre;color:white') Terms &amp; Conditions
    p.lead.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.1s')
      | We maintain Steam Quest as a free service to our visitors. By using Steam Quest, you are agreeing to comply with and be bound by the following terms of use. Please review the following terms carefully. If you do not agree to these terms, you should not use Steam Quest in any way.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.4s')
      strong(style='color:white') 1. Acceptance of Agreement.
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.5s')
      | You agree to the terms and conditions outlined in this Terms of Use Agreement (&ldquo;Agreement&rdquo;) with respect to Steam Quest (the &ldquo;Site&rdquo;). This Agreement constitutes the entire and only agreement between us and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to Steam Quest, the content, products or services provided by or through Steam Quest, and the subject matter of this Agreement. This Agreement may be amended at any time from time to time by us without specific notice to you. The latest Agreement will be posted on Steam Quest, and you should review this Agreement prior to using Steam Quest.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.7s')
      strong(style='color:white') 2. Copyright.
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.8s')
      | The content, organization, graphics, design, compilation, magnetic translation, digital conversion and other matters related to Steam Quest are protected under applicable copyrights, trademarks and other proprietary (including but not limited to intellectual property) rights both at common law and through registration. The copying, redistribution, use or publication by you of any such matters or any part of Steam Quest, except as allowed by Section 4, is strictly prohibited. You do not acquire ownership rights to any content, document or other materials viewed through Steam Quest. The posting of information or materials on Steam Quest does not constitute a waiver of any right in such information and materials.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.9s')
      strong(style='color:white') 3. Trademarks
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.9s')
      | Other product and company names mentioned on Steam Quest may be trademarks of their respective owners.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.10s')
      strong(style='color:white') 4. Limited Right to Use.
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.12s')
      | The viewing, printing or downloading of any content, graphic, form or document from Steam Quest grants you only a limited, nonexclusive license for use solely by you for your own personal use and not for republication, distribution, assignment, sublicense, sale, preparation of derivative works or other use. No part of any content, form or document may be reproduced in any form or incorporated into any information retrieval system, electronic or mechanical, other than for your personal use (but not for resale or redistribution) or as allowed via Steam Quest (such as RSS feeds)
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.11s')
      strong(style='color:white') 5. Editing, Deleting and Modification.
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.12s')
      | We reserve the right in our sole discretion to edit or delete any documents, information or other content appearing on Steam Quest. This includes any uploaded audio or visual content, as well as artwork, avatars, or comments that may be posted to Steam Quest.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='13s')
      strong(style='color:white') 6. Indemnification.
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.14s')
      | You agree to indemnify, defend and hold us and our partners, attorneys, staff and affiliates (collectively, “Affiliated Parties”) harmless from any liability, loss, claim and expense, including reasonable attorneys’ fees, related to your violation of this Agreement or use of Steam Quest.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.15s')
      strong(style='color:white') 7. Nontransferable.
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.16s')
      | Your right to use Steam Quest is not transferable. Any password or right given to you to obtain information or documents is not transferable.
    p.lead.wow.fadeInRight(data-wow-duration='1.2s', data-wow-delay='.17s')
      strong(style='color:white') 8. Disclaimer and Limits
    p.wow.fadeInLeft(data-wow-duration='1.2s', data-wow-delay='.18s')
      | The information from or through Steam Quest is provided “as is,” “as available,” and all warranties, express or implied, are disclaimed (including, but not limited to, the disclaimer of any implied warranties of merchantability and fitness for a particular purpose). The information and services may contain bugs, errors, problems or other limitations. We and our affiliated parties have no liability whatsoever for your use of any information or service. In particular, but not as a limitation thereof, we and our affiliated parties are not liable for any indirect, special, incidental or consequential damages (including damages for loss of business, loss of profits, litigation, or the like), whether based on breach of contract, breach of warranty, tort (including negligence), product liability or otherwise, even if advised of the possibility of such damages. The negation of damages set forth above is a fundamental element of the basis of the bargain between us and you. Steam Quest and the information would not be provided without such limitations. No advice or information, whether oral or written, obtained by you from us through Steam Quest shall create any warranty, representation or guarantee not expressly stated in this agreement.
      br
      br
      | All responsibility or liability for any damages caused by viruses contained within the electronic file containing the form or document is disclaimed. We will not be liable to you for any incidental, special or consequential damages of any kind that may result from use of or inability to use Steam Quest. Our maximum liability to you under all circumstances will be equal to the purchase price you pay for any goods, services or information herein.




footer.footer
      br
      .footer_top
        .container
          .row.align-items-center
            .col-lg-2.col-md-3
              .footer_logo.wow.fadeInRight(data-wow-duration='1s', data-wow-delay='.3s')
                a(href='index.html')
                  img(src='img/logo.png', alt='')
            .col-xl-12.col-lg-12.col-md-9.col-sm-4(style='text-align: center;')
              .menu_links
                ul
                  li
                    a.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='.2s', href='/#about') About
                  li
                    a.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='.4s', href='/#servicestag') Services
                  li
                    a.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='.5s', href='/#contactus') Contact Us
                  li
                    a.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='.6s', href='/faq') FAQS
                  li
                    a.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='.7s', href='/tc') Terms And Conditions
      br
      .copy-right_text
        .container
          .footer_border
          .row
            .col-xl-12
              p.copy_right.text-center.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1.3s')
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved
        script(src='js/faq.js')
        script(src='js/util.js')
        include scripts
